<h1>Edit User Page</h1>

<%= fetch_profile_image_model(@profile) %>
<%= link_to "Remove Image", profile_delete_img_path, method: :delete %>

<%= form_for @profile, url: profile_path, method: :patch do |f| %>
  <div>
    <%= f.label :name %>
    <div><%= f.text_field :name  %></div>
  </div>
  <div>
    <%= f.label :age %>
    <div><%= f.number_field :age  %></div>
  </div>
  <div>
    <%= f.label :place_of_study %>
    <div><%= f.text_field :place_of_study  %></div>
  </div>
  <div>
    <%= f.label :course_of_study %>
    <div><%= f.text_field :course_of_study  %></div>
  </div>
  <div>
    <%= f.label :image %>
    <div><%= f.file_field :image  %></div>
  </div>

  <div>
    <%= f.hidden_field :id  %>
  </div>

  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>