<h1>Users</h1>


<div>
  <%# Helper code to get sized image or return a default image %>
  <%= fetch_profile_image_model(@user.profile) %>
</div>
<div>
  Name: <%= @user.profile.name %>
</div>
<div>
  Age: <%= @user.profile.age %>
</div>
<div>
  Studying at: <%= @user.profile.place_of_study %>
</div>
<div>
  Course: <%= @user.profile.course_of_study %>
</div>


<% if current_user.id == @user.id %>
  <%= link_to('Edit', profile_edit_path) %>
  <%# link_to('Delete', ????, :method => :delete, data: {confirm: 'Are you sure you want to delete this mentor?'}) %>
<% end %>


