<% if !current_user %>
<!--<div class="text-center header">
  <h1 class="headerTitle col-md-12"> We are Younghort </h1>
  <h1 class="signUpButton"><%= link_to('Sign up', new_user_registration_path) %></h1>
</div>-->
<% end %>



<div style="position: relative;">
  <div id="mainTitle" class="row col-xs-12">
    <div class="headerTitle"> We are Younghort </div>
  </div>
  <div id="imageSlider">
    <% @slides.each do |slide| %>
      <div><%= cl_image_tag(slide.image, :alt => "Slide", :width => '100%', :height => '500px') %></div>
    <% end %>
  </div>
</div>
<section class="row">
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In vitae unde velit, officia odio nostrum quas maiores quos ipsam ab aliquam, fugiat sit saepe quis facilis accusamus, vel libero autem!</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae adipisci iusto, reprehenderit, voluptates, qui rem assumenda ipsa, odio voluptatibus architecto obcaecati unde! Officia, nulla!</p>
  </div>
  <div class="col-md-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa ratione veniam non neque, voluptatum quasi odit dolorum dolor maxime inventore, fugit aut qui sunt. Optio nobis nulla officiis facere.</p>
  </div>
</section>

<section>
  <div id="ambTitle" class="">
    <h1>Our Ambassadors</h1>
  </div>
  <div>

  <% @ambassadors.each do |a| %>
  <% profile_image_link(a) %>
    <div class="row top-buffer">
      <div class="ambLeft col-md-6">
        <h2><%= a.name %></h2>
        <p><%= a.context %></p>
      </div>
      <%= %>
      <div class="col-md-6 text-center"><%= image_tag(a.image || profile_image_link(a)) %></div>
    </div>
  <% end %>

  </div>
</section>



<form class="form-horizontal" id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Contact Us</legend>

<br>

<!-- everyfield is required or else email will not be sent through -->
<!-- name input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name"> Name * </label>  
  <div class="col-md-5">
  <input id="name" name="name" type="text" placeholder="Enter your name here" class="form-control input-md" required="true">
  </div>
</div>
<br>

<!-- title input -->
<div class="form-group">
  <label class="col-md-4 control-label" for="title"> Title * </label>
  <div class="col-md-5">
  <input id="title" name="title" type="text" placeholder="subject of your query" class="form-control input-md" required="true">
  </div>
</div>
<br>

<!-- email input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email"> Email Address * </label>  
  <div class="col-md-5">
  <input id="email" name="email" type="text" placeholder="Enter your email address here" class="form-control input-md" required="true">
  </div>
</div>
<br>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="message">Your Message * </label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="message" name="message" cols="20" rows="5" placeholder="Enter your message here" required="true"></textarea>
  </div>
</div>
<br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" name="submit" class="btn btn-primary"> Submit </button>
  </div>
</div>

</fieldset>
</form>



<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js"></script>