<h1>edit all the mentors</h1>

<%= form_for @mentor do |m| %>
  <div>
    <%= m.label :name %>
    <%= m.text_field :name %>
  </div>
  <div>
    <%= m.label :image %>
    <%= m.text_field :image %>
  </div>
  <div>
    <%= m.label :link %>
    <%= m.text_field :link, :placeholder => "Copy and paste link" %>
  </div>
  <div>
    <%= m.label :bio %>
    <%= m.text_area :bio, :id => "postContent" %>
  </div>
  <div>
    <%= m.submit %>
  </div>
<% end %>

<!-- <script>
  $(function(){
    $('#postContent').editable({inlineMode: false})
  });
</script> -->