
<div class="mentorTitle">
  <h1> list of our mentors </h1>
</div>

<hr/>

<div class="mentorWrapper">
  <% @mentors.each do |m| %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-9">
    
        <div class="mentorBox"</div>
          <h2><%= m.name %></h2>
          <p><%= m.bio %></p>
            <div class="mentorLink"</div>
              <p><%= link_to(m.link, m) %></p>
            </div>
        </div>

      </div>  
        
        <div class="col-xs-6 col-lg-3">
          <%= image_tag(m.image) %>
        </div>
    
    </div>
    <hr />
  <% end %>
  <div>
    <%= will_paginate @mentors %>
  </div>  
</div>


