<h1>Create a Mentor!</h1>

<%= form_for @mentor do |f| %>
  <div>
    <%= f.label :name %>
    <div><%= f.text_field :name %></div>
  </div>
  <div>
    <%= f.label :link %>
    <div><%= f.text_field :link, :placeholder => "Copy the link. Don't write it in" %></div>
  </div>
  <div>
    <%= f.label :bio %>
    <div><%= f.text_area :bio %></div>
  </div>
  <div>
    <%= f.label :image %>
    <div><%= f.file_field :image %></div>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>