<h1>Ambassador#edit</h1>
<p>Find me in app/views/ambassador/edit.html.erb</p>


<h1>Ambassador</h1>
<p>Below are a list of all ambassadors submitted!</p>

<%= form_for @ambassador do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :context %><br>
    <%= f.text_area :context, :id => "postContent" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <%= f.submit "Edit" %>
<% end %>

<!-- <script>
  $(function(){
    $('#postContent').editable({inlineMode: false})
  });
</script> -->
