<h1>Edit Ambassador</h1>


<%= fetch_profile_image_model(@ambassador) %>
<%= link_to "Remove Image", delete_img_ambassador_path, method: :delete %>


<%= form_for @ambassador do |f| %>
  <div>
    <%= f.label :name %>
    <div><%= f.text_field :name%></div>
  </div>
  <div>
    <%= f.label :location %>
    <div><%= f.text_field :location%></div>
  </div>
  <div>
    <%= f.label :bio %>
    <div><%= f.text_field :bio%></div>
  </div>
  <div>
    <%= f.label :image %>
    <div><%= f.file_field :image%></div>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
