<h1>Ambassador#edit</h1>
<p>Find me in app/views/ambassador/edit.html.erb</p>


<h1>Ambassador</h1>
<p>Below are a list of all ambassadors submitted!</p>

<%= form_for @ambassador do |f| %>
  <%= f.text_field :name%>
  <%= f.text_field :location%>
  <%= f.text_field :context%>
  <%= f.text_field :image%>
  <%= f.submit "Edit" %>
<% end %>
