<h2>Edit Ambassador</h2>


<div class="col-sm-8 col-sm-offset-2">

  <div class="text-center" >
    <div><%= fetch_profile_image_model(@ambassador) %></div>
    <div><%= link_to "Remove Image", delete_img_ambassador_path, method: :delete %></div>
  </div>

<%= form_for @ambassador do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, :id => "postContent", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="text-right">
    <%= f.submit  class: "btn btn-success" %>
    <%= link_to "Cancel", @ambassador, class: "btn btn-danger" %>
  </div>
<% end %>

</div>

