<h1>Create an Ambassador!</h1>

<% if @ambassador.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ambassador.errors.count, "error") %> prohibited this ambassador from being saved:</h2>

    <ul>
    <% @ambassador.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@ambassador) do |f| %>
  <div>
    <%= f.label :name %>
    <div><%= f.text_field :name %></div>
  </div>
  <div>
    <%= f.label :location %>
    <div><%= f.text_field :location %></div>
  </div>
  <div>
    <%= f.label :bio %>
    <div><%= f.text_area :bio, :id => "postContent" %></div>
  </div>
  <div>
    <%= f.label :image %>
    <div><%= f.file_field :image %></div>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<!-- <script>
  $(function(){
    $('#postContent').editable({inlineMode: false})
  });
</script> -->