<h2>Create an Ambassador</h2>

<% if @ambassador.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ambassador.errors.count, "error") %> prohibited this ambassador from being saved:</h2>

    <ul>
    <% @ambassador.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="col-sm-8 col-sm-offset-2">

<%= form_for @ambassador do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_area :bio, :id => "postContent", class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div>
    <%= f.submit  class: "btn btn-success"%>
  </div>
<% end %>

</div>