<h1>Ambassador#new</h1>
<p>Find me in app/views/ambassador/new.html.erb</p>

<%= form_for(@ambassador) do |f| %>
  <% if @ambassador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ambassador.errors.count, "error") %> prohibited this ambassador from being saved:</h2>

      <ul>
      <% @ambassador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :context %><br>
    <%= f.text_area :context, :id => "postContent" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- <script>
  $(function(){
    $('#postContent').editable({inlineMode: false})
  });
</script> -->