<h2>Ambassador</h2>

<div class="col-sm-8 col-sm-offset-2">

<div class="text-center">
  <%= fetch_profile_image_model(@ambassador) %>
</div>
<h2 class="text-center"><%= @ambassador.name %></h2> 
<h3 class="text-center"><%= @ambassador.location %></h3>
<br>
<div class="text-content">
  <%== @ambassador.bio %>
</div>

<br>

<div class="row">
  <div class="col-xs-8 text-left">
    <%= link_to("< back to Ambassadors", ambassadors_path) %>
  </div>
  <div class="col-xs-4 text-right">
    <% if current_user.profile.admin? %>
      <%= link_to('Edit', edit_ambassador_path) %> | 
      <%= link_to('Delete', ambassador_path, :method => :delete, data: {confirm: 'Are you sure you want to delete this ambassador?'}) %>
    <% end %>
  </div>
</div>

</div>