<h1>Ambassadors</h1>


<div>
  <%= fetch_profile_image_model(@ambassador) %>
</div>
<div>
  Name: <%= @ambassador.name %>
</div> 
<div>
  Location: <%= @ambassador.location %>
</div> 
<div>
  <%= @ambassador.bio %>
</div>


<% if current_user.profile.admin? %>
  <%= link_to('Edit', edit_ambassador_path) %>
  <%= link_to('Delete', ambassador_path, :method => :delete, data: {confirm: 'Are you sure you want to delete this mentor?'}) %>
<% end %>