<h1 class="text-center">Edit Main Page Slideshow</h1>
<p class="text-center">Edit rotating images for the main page slideshow</p>

<br><br><br>


<table class="table">
  <tr>
    <th>Image</th>
    <th>Description</th>
    <th>Active</th>
    <th>Links</th>
  </tr>

  <% @images.each do |image| %>
  <tr>
    <td><%= fetch_slidshow_image_thumb(image.image) %></td>
    <td><%= image.description %></td>
    <td><%= image.active %></td>
    <td>
      <%= link_to "Enable", enable_slideshow_image_path(image.id), method: :patch if image.active == false %>
      <%= link_to "Disable", disable_slideshow_image_path(image.id), method: :patch  if image.active %>
      <%= link_to "Delete", slideshow_image_path(image.id), method: :delete  %>
    </td>
  </tr>
  <% end %>

</table>

<%= link_to "Add New Image", new_slideshow_image_path %>



