<h1>Post Creation</h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :image1 %>
    <%= f.text_field :image1 %>
  </div>
    <div>
    <%= f.label :image2 %>
    <%= f.text_field :image2 %>
  </div>
    <div>
    <%= f.label :image3 %>
    <%= f.text_field :image3 %>
  </div>
    <div>
    <%= f.label :image4 %>
    <%= f.text_field :image4 %>
  </div>
    <div>
    <%= f.label :image5 %>
    <%= f.text_field :image5 %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content, :id => "postContent" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(function(){
    $('#postContent').editable({inlineMode: false})
  });
</script>

