 <!DOCTYPE html>
<html>
<head>
  <title>YoungHort</title>
  
  <!-- VENDOR STYLESHEETS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick-theme.css"/>


  <!-- IN-HOUSE STYLESHEETS -->
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <!-- IN-HOUSE JAVASCRIPT -->
  <%= javascript_include_tag 'application'%>
   

  <!--CDN link for the latest TweenMax-->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
   <%= image_tag "middleLeafThin-01.svg", id: "leafLarge1" %>
   <%= image_tag "middleLeafThin-01.svg", id: "leafLarge2" %>
   <%= image_tag "middleLeafThin-01.svg", id: "leafLarge3" %>
  </div>
    <!-- Flash messages -->
  <% if notice %>
    <div id="notice-wrapper">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div id="alert-wrapper">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">

      <div class="container-fluid">

        <div>
          <a class="navbar-brand" href="/">
            <%= image_tag "navLogo.png" %>
          </a>
        </div>

        <button type="button" id="nav-menu-btn"
        class="btn btn-default navbar-btn nav-pills navbar-right">Menu</button> 

          <% if current_user.present?  %>
          <ul class="nav navbar-nav nav-pills navbar-right">
            <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
          </ul>
          <% end %>

          <% if !current_user.present?  %>
          <ul class="nav navbar-nav nav-pills navbar-right">
            <li><%= link_to("Log In", new_user_session_path) %></li>
            <li><%= link_to("Sign Up", new_user_registration_path) %></li>
          </ul>
          <% end  %>

      </div>
    </nav>
  </header>

  <!-- Main Menu container -->
  <div id="mainMenu" class='container'>
    <div class="container">
      <div class="row  text-center">
        <div class="col-sm-5 col-sm-offset-1">
          <h2>Menu</h2>
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to("Home", "#{root_path}#home", class: "hashlink") %></li>
            <li><%= link_to("About", "#{root_path}#about", class: "hashlink") %></li>
            <li><%= link_to("Ambassadors", "#{root_path}#ambassadors", class: "hashlink") %></li>
            <li><%= link_to("Contact Us", "#{root_path}#contact", class: "hashlink") %></li>
          </ul>
          <hr>
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to("Blog", posts_path) %></li>
            <li><%= link_to("Mentors", mentors_path) %></li>
          </ul>
          <hr>
          <% if !current_user.present?  %>
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to("Log In", new_user_session_path) %></li>
            <li><%= link_to("Sign Up", new_user_registration_path) %></li>
          </ul>
          <% end %>
          <% if current_user.present?  %>
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to("Edit Profile", edit_user_registration_path) %></li>
            <li><%= link_to("Log Out", destroy_user_session_path, method: :delete) %></li>
          </ul>
          <% end %>

          </div >
          <div class="col-sm-5">
            <h2>Admin</h2>
            <ul class="nav nav-pills nav-stacked">
              <li><%= link_to("Mentors", mentors_path) %></li>
              <li><%= link_to("Ambassadors", ambassadors_path) %></li>
              <li><%= link_to("Slideshow Images", slideshow_images_path) %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Social Media -->
    <div class="social-menu">
      <a href="https://twitter.com/younghortaus"><div class="wrap">
        <div class="cube">
          <div class="front"><i class="fa fa-twitter"></i></div>
          <div class="left"><i class="fa fa-twitter"></i></div>
        </div>
      </div></a>
      <br>
      <a href="https://www.facebook.com/younghortaus?fref=ts"><div class="wrap">
        <div class="cube">
          <div class="front"><i class="fa fa-facebook"></i></div>
          <div class="left"><i class="fa fa-facebook"></i></div>
        </div>
      </div></a>
      <br>
      <a href="https://younghort.slack.com/"><div class="wrap">
        <div class="cube">
          <div class="front"><i class="fa fa-slack"></i></div>
          <div class="left"><i class="fa fa-slack"></i></div>
        </div>
      </div></a>           
    </div>

<div class="content-wrapper" >
<div class="container" >
    <%= yield %>
</div> <!-- content-wrapper container -->
</div>

    <footer class="col-md-12"></footer>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.min.js"></script>
</body>
</html>
