 <!DOCTYPE html>
<html>
<head>
  <title>YoungHort</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.1.6/basscss.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrapper" class="">
    <div id="container" class="sm-col-12 md-col-8 lg-col-7">
      <div id="header">
        <div id="nav">
        <%== intellinav  %>
        </div>
      </div>

             <p class="notice"><%= notice %></p>
             <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </div>
</body>
</html>
